body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.65rem;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 2.1rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
  color: #11999E;
}

hr {
  margin-top: 7rem;
  margin-bottom: 7rem;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

a {
  font-family: 'Josefin Sans', sans-serif;
  color: #11999E;
}

/*********************ID Selectors**********************/
.top-container {
  background-color: #EAF6F6;
}

.middle-container {
  background-color: #f4f4f4;
  padding-bottom: 4rem;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 1.1rem;
  padding-bottom: .5rem;
  color: #f4f4f4;
}

/*********************Class Sectors*********************/
.top-cloud {
  position: relative;
  left: 200px;
}

.louella {
  border-radius: 50%;
  margin: 5rem auto 1rem auto;
}

.bottom-cloud {
  position: absolute;
}

.profile {
  display: inline-block;
  width: 40%
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  display: block;
  text-align: left;
  line-height: 2;
}

.coding {
  width: 25%;
  float: left;
  padding-right: 30px;
}

.macrame {
  width: 25%;
  float: right;
  padding-left: 30px;
}

.contact-me {
  width: 50%;
  display: inline-block;
}

.btn {
  background-color: #66BFBF;
  font-family: 'Merriweather', serif;
  margin-top: 2rem;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

.footer-link {
  display: inline-block;
  padding: 45px;
  font-size: 20px;
  font-weight: bold;
}

.footer-link2 {
  display: inline-block;
  font-size: 11px;
  padding-top: 1.5rem;
}
